POSTGRES_CONTAINER=transcendence
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=leet
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
SECRET="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"
UID="u-s4t2ud-c8dbc0e61ec809ce416911b619800c16ba2e028e4bffef89c08b71ec777a9dd5"
REDIRECT_URI="http://localhost:3001/auth/redirect"
JWT_SECRET="isel-jao"
HOST=http://localhost:3001/
